* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: #5f5f55;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #5f5f55;
}

a {
    text-decoration: none;
    color: #5f5f55;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.152);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-left .logo img {
    width: 30px;
    margin-right: 15px;
    display: block;
}

.search-form {
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-form img {
    width: 14px;
}

.search-form input {
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar .navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar .navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.navbar .navbar-center ul li a::after {
    content: "";
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    background-color: #045be6;
    position: absolute;
    bottom: -12px;
    transition: all 0.5s ease;

}

.navbar .navbar-center ul li a:hover:after,
.navbar .navbar-center ul li a.active:after {
    transform: scaleX(1);
}


.navbar .navbar-center ul li a img {
    width: 30px;
}

.navbar-right .navbar-profile-img {
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.navbar-right .online-icon {
    position: relative;
}

.navbar-right .online-icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #41db51;
}

.side-bar-profile-link {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.side-bar-profile-link a {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-left: 1px solid #ccc;
    font-size: 13px;
}

.side-bar-profile-link a:first-child {
    border-left: 0;
}

.side-bar-profile-link a img {
    width: 20px;
    margin-right: 10px;
}

.sidebar-activity {
    background-color: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}

.sidebar-activity h3 {
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-activity a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity a img {
    width: 20px;
    margin-right: 10px;
}

.discover-more-link {
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}

.discover-more-link a {
    color: #045be6;
    display: inline-block;
    margin: 10px 0;
}

/* navbar end */
.container {
    padding: 50px 6%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* -------------------------------------left-sidebar------------------------------------- */
.left-sidebar {
    align-items: flex-start;
    flex-basis: 25%;
    position: sticky;
    top: 73px;
}

.sidebar-box-profile {
    background-color: #fff;
}

.sidebar-profile-info {
    padding: 0 25px;
}

.sidebar-profile-info img {
    width: 90px;
    margin-top: -40px;
    border-radius: 50%;
    padding: 4px;
    background-color: #fff;
}

.sidebar-profile-info h1 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 10px 0;
}

.sidebar-profile-info h3 {
    font-size: 15px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul {
    margin: 20px 0;
}

.sidebar-profile-info ul li {
    margin: 8px 0;
    width: 100%;
}

.sidebar-profile-info ul li span {
    float: right;
    color: #045be6;
}





/*------------------------------------- right-sidebar------------------------------------- */
.right-sidebar {
    flex-basis: 25%;
    align-items: flex-start;
    position: sticky !important;
    top: 73px;
}

.sidebar-news {
    background-color: #fff;
    padding: 10px 25px;
}

.info-icon {
    width: 15px;
    float: right;
    margin-top: 10px;
}

.sidebar-news h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 30px;
    color: #222;
}

.sidebar-news a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sidebar-news span {
    font-size: 12px;
}

.sidebar-news .read-more-link {
    color: #045be6;
    font-weight: 500;
    margin: 20px 0 10px;
}


.sidebar-add {
    background-color: #fff;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
}

.sidebar-add img {
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}

.sidebar-add small {
    float: right;
    font-weight: 500;
}

.sidebar-add p {
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar-add b {
    display: block;
    font-size: 500;
    margin-top: 10px;
}

.ad-link {
    border: 1px solid #045be6;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 15px;
    color: #045be6;
    font-weight: 500;
    margin: 20px auto 10px;
}

.sidebar-useful-link {
    padding: 15px 25px;
    text-align: center;
}

.sidebar-useful-link a {
    display: inline-block;
    font-size: 14px;
    margin: 4px 12px;
}

.copyright-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.copyright-msg img {
    width: 20px;
    margin-right: 5px;
}

/* ------------------------------------center-contain -------------------------------------*/
.center-contain {
    align-items: flex-start;
    flex-basis: 47%;
}

.create-post {
    background-color: #fff;
}

.creat-post-input {
    display: flex;
    align-items: flex-start;
    padding: 20px 25px 10px;
}

.creat-post-input img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.creat-post-input textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    margin-top: 8px;
    resize: none;
    color: #222;
}

::placeholder {
    font-weight: 500;
    color: red;
}

.creat-post-link ul {
    display: flex;
    align-items: flex-start;
}

.creat-post-link ul li {
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.creat-post-link ul li img {
    width: 15px;
    margin-right: 5px;
}

.creat-post-link ul li:last-child {
    background-color: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
}

.sort-by {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sort-by hr {
    flex: 1;
    height: 0;
    background: #ccc;
}

.sort-by p {
    font-size: 13px;
    padding-left: 15px;
}

.sort-by p span {
    font-weight: 600;
    cursor: pointer;
}

.sort-by p span img {
    width: 12px;
    margin-left: 5px;
}

.post {
    background-color: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}

.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5pxs;
}

.post-author h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.post-author small {
    display: block;
    margin-bottom: 5px;
}

.post p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.post-stats div {
    display: flex;
    align-items: center;
}

.post-stats img {
    width: 15px;
    margin-right: -5px;
}

.user-like {
    margin-left: 10px;
}

.post-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div {
    display: flex;
    align-items: center;
}

.post-activity-user-icon {
    width: 22px;
    border-radius: 50%;
}

.post-activity-arrow-icon {
    width: 12px;
    margin-left: 5px;
}

.post-activity-link img {
    width: 18px;
    margin-right: 8px;
}


/* profile-dropdown-menu" */
.profile-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 2%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-dropdown-menu.open-menu {
    max-height: 400px;
}

.profile-menu {
    background-color: #222;
    padding: 20px;
    margin: 10px;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-info a {
    color: #c9dbf8;
    font-size: 10px;
}

.profile-menu hr {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 15px 0 10px;
}

.profilemenu-link {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 12px 0;
    font-size: 14px;
}

.profilemenu-link p {
    width: 100%;
    color: #fff;
}


.profilemenu-link img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

/* media small scree */
@media (max-width: 600px) {
    .search-form {
        background-color: transparent;
        width: auto;
        padding: 0;
    }

    .search-form input{
        width: 0;
        padding: 0;
    }

    .navbar-center ul li a span{
        display: none;
    }

    .navbar-center ul li a{
        padding-right: 0;
        margin: 5px;
    }
}