@media (max-width:1200px) {
.container {
width: 100%;
margin: 0 auto;
}
.footer-col-1
{
padding-left: 50px;

}
}
@media (max-width:988px) {
.col-50{
width: 100% !important;
}
.contain{
height: 100vh;
}
.ty{
margin-top: 15px;
}

}
@media (max-width:868px) {
.col-33{
width: 45% !important;
}
}
@media (max-width:668px) {
.d-non {
display: block;
}
.menu-toggel {
display: block;
}
.d-non ul {
position: fixed;
top: 80px;
left: 100%;
text-align: center;
width: 100%;
height: 100%;
background: #303030;
padding-top: 50px;
transition: all .6s;
}
.d-non ul li {
top: 50%;
display: block;
margin: 35px 0;
line-height: 30px;
}
.nav-item ul.show {
left: 0;
}
.box-item .title-conten-box h1 {
font-size: 90px;
}
}
@media (max-width:599px) {
.col-33{
width: 80% !important;
}
}
@media (max-width:470px) {
.container{
width: 100%;
margin: 0 auto;
}
.box-item .title-conten-box p{
width: 100%;
}
.box-item .title-conten-box h1 {
font-size: 55px;
}
.button{
    padding: 10px 63px;
}
.text-area h2{
    font-size: 25px;
}

.containe h2,.text-column h2,.text-item h2{
    font-size: 50px;
}

.contain h2{
    font-size: 35px;
}
.contain-box{
    text-align: center;
}

.text-column p{
    font-size: 22px;
}
.py-50 {
    padding: 10px 0;
}
.search{
    padding: 10px 25px;
    margin-bottom: 10px;
}
.contain-box p, .containe p{
    padding: 25px 30px 40px;
    text-align: center;
}
.title-section{
    background-position: center;
}
}



