@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Candal&family=Dancing+Script:wght@500&family=EB+Garamond:ital@1&family=Edu+VIC+WA+NT+Beginner&family=Fuzzy+Bubbles&family=Luxurious+Roman&family=M+PLUS+1+Code:wght@100&family=Merriweather:ital@1&family=Moon+Dance&family=Oswald:wght@300;400;500&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,600&family=Quintessential&family=Raleway:wght@200;800&family=Roboto:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo img {
    width: 80px;
}

header {
    background-color: #303030;
    padding: 20px 0;
    width: 100%;
}

.container {
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.content-center {
    align-items: center;
    justify-content: space-between;
}

.nav-item ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu-toggel {
    display: none;
}

.nav-item ul li a {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: "Oswald";
    position: relative;
    transition: all.5s;
    padding: 5px 0;
    letter-spacing: 1px;
}
.nav-item ul li a:hover {
    border-bottom: .2rem solid red;
    padding: .2rem 0;

}

.search-icon i {
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: all.5s;
    cursor: pointer;
    margin: 0 5px;
}

.search-icon i:hover {
    background: #ffffff;
    color: red;
}

#scroll-top.active {
    top: calc(100% - 12rem);
}


/* --------------------title-section----------------- */
.title-section {
    background-image: url("./img/sec1-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -55px;
    height: 100vh;
}

.box-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 75vh;
}

.box-item .title-conten-box h1 {
    font-size: 100px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}

.box-item .title-conten-box p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    font-family: "Montserrat";
    padding-bottom: 30px;
}

.box-item .title-conten-box a {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #e8631c;
    padding: 10px 10px;
    transition: all .4s;
}

.box-item .title-conten-box a:hover {
    background-color: #bc490b;
}


/* --------------------second-section------------ */
.py-80 {
    padding: 80px 0;
}

.py {
    padding-top: 80px;
}

.pt-50 {
    padding-top: 50px;
}


.py-50 {
    padding: 50px 0;
}

.py-35 {
    margin: 25px 0;
}

.py-25 {
    padding: 35px 0;
}

.col-33 {
    width: 31%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
    margin: 0 auto;
}

.second-section {
    background-color: #e8631c;
}

.textCenter {
    text-align: center !important;
}

.text-white {
    color: #fff;
}

.dance,
.contain h2,
.containe h2,
.text-column h2,
.text-item h2 {
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}

.second-section p,
.text-item p {
    color: #ffffff;
    font-size: 17px;
    font-family: "Montserrat";
    text-align: center;
    padding-top: 10px;
}

.col-box {
    background-color: #303030;
    overflow: hidden;
    border-radius: 15px;
}

.img-box {
    overflow: hidden;
}

.col-box img {
    object-fit: cover;
    transition: all .5s;
    width: 100%;
}

.col-box:hover img {
    transform: scale(1.1);
}

.text-area {
    padding: 25px;
}

/* ---------------third-section------------------- */
.third-section {
    background-color: #303030;
    color: #fff;
}

.third-section .col-box {
    background-color: #bc490b;
    margin-bottom: 20px;
}

.icon-law {
    width: 30%;
    margin: auto;
    padding: 10px;
    margin-bottom: 40px;

}

.third-section .text-area p {
    padding-top: 15px;
    padding-bottom: 35px;
    width: 100%;
}

.text-area h2 {
    font-size: 37px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Oswald";
    text-align: center;
    text-align: center;
}

.button {
    background-color: #303030;
    padding: 10px 100px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}



/* ------------------four section---------------- */
.contain {
    display: grid;
    place-items: center;
    height: 100%;
}


.bg-color {
    background-color: #bc490b;
}

.contain h2 {
    font-size: 65px;
}

.contain-box p,
.containe p {
    padding: 25px 0 40px;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}

img {
    width: 100%;
    display: block;
}

/* --------------------fouth-section--------------- */
.five-section {
    background-color: #303030;
}

.five-section h2 {
    text-align: center;
}

.club {
    font-size: 35px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center !important;
    padding: 10px 0;
}

/* .----------------------six-section.............. */
.six-section {
    background: url(./img/sec6-img.png);
    height: 100vh;
    background-size: cover;
}

.text-column {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-column p {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

/* ----------------------seven-section--------------- */
.seven-section {
    background: #e8631c;
}

.search-input {

    padding: 50px 0;
    position: relative;
    text-align: left;
}

.search {
    margin: auto;
    outline: none;
    padding: 10px 100px;
    border: none;

}

.text-item p {
    font-size: 25px;
    line-height: 40px;
}

.search-input button {
    padding: 8px 10px;
}

/* ---------------footer------------- */
.footer {
    background: #303030;
    color: #8a8a8a;
    font-size: 16px;
    padding: 60px 0 20px;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
    color: #fff;
}

.footer-col-2,
.footer-col-3,
.footer-col-4 {
    padding-left: 50px;

}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    cursor: pointer;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: transform .5s;
}

.footer-col-2 ul li,
.footer-col-3 ul li,
.footer-col-4 ul li {
    margin-bottom: 8px;
    transition: transform .5s;
}

.footer-col-2 ul li:hover,
.footer-col-3 ul li:hover,
.footer-col-4 ul li:hover,
.footer a:hover {
    transform: translateX(8px);
    color: #bc490b;
}

ul {
    list-style: none;
}