* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
}

p {
    /* color: rgba(253, 249, 249, 0.63); */
    line-height: 25px;
}

.read-more {
    color: #fff;
    transition: all .3s;
}

.read-more:hover {
    color: orange;
}


h4 {
    color: #fff;
}

.container {
    width: 1250px;
    /* width: 100%; */
    padding: 0 1rem;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

ul li a {
    padding: 5px 15px;
    font-weight: 600;
    color: white;
    transition: all .5s;
}

ul li {
    display: inline-block;
    padding: 10px 0;
    transition: all .5s;
}

.bg-dark {
    background-color: black;
}

.ul-item li:nth-child(-n + 2) a {
    border-right: 2.5px solid white;
}


/* middle-header */
.middle-header {
    background-color: rgb(108, 106, 106);
    padding: 0 5rem;
}

.middle-header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.middle-header .logo .navbar-brand {
    padding-right: 15px;
}

.middle-header .logo img {
    width: 120px;
    border-radius: 15px;
}

.middle-header .logo h2 {
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.359));
    color: #fff;
    font-size: 35px;
}

.middle-header .logo h2 span {
    color: #14A44D;
}

.search-input {
    margin-left: auto;
}

.search-input input {
    padding: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    width: 100%;
    transition: all 0.3s;
}

.form-control i {
    color: #fff;
    padding: 0 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-control {
    background-color: orange;
    border-radius: 10px;
    transition: all .3s;
}

.pos-rel {
    position: relative;
}

.middel-navbar .active {
    background-color: #14A44D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.middel-navbar li.anchor-list {
    background-color: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.middel-navbar li.me-2 {
    margin-left: 10px;
}

/* .middel-navbar li .box::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: orange;
    top: -15px;
    transform: rotate(45deg);
    left: 750px;
} */

.middel-navbar li .hover {
    position: absolute;
    bottom: -252px;
    left: 0;
    right: 0;
    /* box-shadow: rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.05) -25px 25px; */
    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    background-color: #9FA6B2;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    /* display: n   one; */
    transition: .05s;
    z-index: 5;
}


.middel-navbar li .hovers {
    position: absolute;
    bottom: -252px;
    left: 0;
    right: 0;
    /* width: fit-content; */
    /* box-shadow: rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.05) -25px 25px; */
    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    background-color: #9FA6B2;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
    /* display: n   one; */
    transition: .05s;
    /* cursor: pointer; */
    z-index: 5;
}

.middel-navbar li:hover .hover {
    visibility: visible;
    opacity: 1;
    /* display: block; */

    z-index: 5;
}

.col-1 img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.justify-content-sp {
    justify-content: space-between;
}

.col-2 h4 {
    color: #14A44D;
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
}

.col-1 {
    /* padding: 1.5rem; */
    border-radius: 10px;
    width: 35%;
}


.col-2 {
    width: 55%;
    /* padding: 1.5rem; */
}

ul li.anchor-list a {
    color: black;
}

.middel-navbar {
    margin-left: 45%;
}

.middel-navbar li:hover {
    background-color: #14A44D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

/* .middel-navbar li a:hover {
    color: orange;
} */

.ul-item li a:hover {
    color: orange;
}


/* ------------------------------------section ------------------------------------ */

.col-70 {
    width: 70%;
}

.bg-gray {
    background-color: #ddd;
    padding: 25px 0;
}

.col-30 {
    width: 30%;
}

.mt-10 {
    padding: 15.5em 0 0rem;
}

.img-col img {
    width: 100%;
    overflow: hidden;
}

.section-box {
    padding: 20px 15px 0px 0px;
}

.py-50 {
    padding: 20px 15px 0px 10px;
}

.section-box .heading,
.letetst {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border-bottom: 2px solid gray;
}

.letetst {
    margin-bottom: 20px;
}

.heading-title>p {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 25px;
}


.head-box {
    padding: 20px;
    background-color: #9FA6B2;
}

.head-box h3 {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head-box .img-col {
    width: 200px;
    margin: 20px auto;
}

.head-box .img-col:hover img {
    transform: scale(1.1);
}

.head-box .img-col-2 {
    margin: 0 auto;
    margin-top: 20px;
}

/* .------------------------footer------------------ */

.footer {
    background-color: rgba(0, 0, 0, 0.712);
    padding: 25px 0;
}


.ul-footer {
    text-align: center;
}

.ul-footer-1 li a {
    color: #9FA6B2;
    transition: all 0.3s;
}

.ul-footer-1 li a:hover {
    color: #fff;
}

.ul-footer p {
    padding-top: 10px;
    color: aliceblue;
}