* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1099;
	background-image: linear-gradient(243deg, #071034 0%, #3732b8 100%);
	transition: all 1s ease;
}

.login-popup.show {
	visibility: visible;
	opacity: 1;
}

.login-popup .box {
	background-color: #ffffff;
	width: 850px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	transition: all 1s ease;

}

.login-popup.show .box {
	opacity: 1;
	margin-left: 0;
}

.login-popup .box .img-area {
	flex: 0 0 50%;
	/* width: 50%; */
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-popup .box .img-area .img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/loging.png');
	background-size: cover;
	background-position: center;
	z-index: -1;

}

.login-popup .box .form {
	flex: 0 0 50%;
	/* width: 50%; */
	max-width: 50%;
	padding: 40px 30px 20px;
	background-image: linear-gradient(#312ab86b, #312ab84f), url('../images/bg-form.png');
	object-fit: cover;
}

.login-popup .box .form h1 {
	color: #fff;
	text-align: center;
	font-size: 30px;
	margin: 0 0 30px;
}

.login-popup .box .form .form-control {
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	padding: 0 10px;
	/* 	border:  1px solid ; */
	border-radius: 10px;
	font-size: 15px;
	color: #fff;
	backdrop-filter: blur(15px);
	background-color: transparent;
	outline: none;
}

.login-popup .box .form .form-control:focus {
	outline: none;
}

.login-popup .box .form label {
	font-size: 15px;
	color: #555555;
}

.login-popup .box .form .btn {
	/* 	width: 100%; */
	background-color: #000;
	margin: 10px 0;
	padding: 0px 40px;
	height: 45px;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.login-popup .box .form .btn:focus {
	outline: none;
}

.login-popup .box .form .close {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 30px;
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.text-white {
	color: #fff;
}

.login-popup .box .form .or {
	padding: 5px;
	color: #fff;
	font-weight: 800;
	text-align: center;
	border-radius: 50%;
	margin: 15px 0 25px;
}

.or p {
	display: inline;
	background-color: rgba(219, 219, 227, 0.413);
	backdrop-filter: blur(15px);
	border-radius: 50px;
	padding: 8px;
}

.pos-rel {
	position: relative;
}

.login-popup .box .form .twitter {
	width: 100px;
	border-radius: 5px;
}

.login-popup .sign-up span {
	color: #fff;
}

.login-popup .sign-up {
	font-weight: 600;
	margin-top: 15px;
	text-align: center;
}

.login-popup .box .form .pos-img {
	position: absolute;
	left: 10px;
	width: 30px;
	top: -22px;
	border-radius: 50px;

}
