@media screen and (max-width: 1469px) {
    .container {
        width: 100%;
    }

    .footer-col-4{
        padding-left: 0;
    }

    .footer h3 {
        font-size: 20px;
    }

}

@media screen and (max-width: 1369px) {
    .second-header-list li {
        margin: 0 8px;
    }

    .header-contact li {
        margin-right: 35px;
    }

    .background .owl-nav {
        top: 42%;
        transform: translate(15%, 0%);
    }


    .form-button {
        text-align: center;
    }

    .slide-1,
    .slide-2,
    .slide-3 {
        height: 130vh;
    }

    .container-slider {
        top: 15%;
        transform: translate(2.5%, 65%);
        padding: 0;
    }

    .free-quatos {
        padding: 10px 0;
    }

    .form-section {
        top: 75%;
        left: 0;
        transform: translate(0%, 0%);
        max-width: 100%;
        padding: 15px;
        width: 100%;
    }

    .footer-col-3 {
        padding-left: 35px;
        width: 25%;
    }

    #service {
        margin-top: 420px;
    }

    .box-service-container {
        padding-right: 15px;
    }

    .footer-col-2 {
        padding-left: 45px;
    }

}

@media screen and (max-width: 1199px) {

    .header-contact li a,
    .footer a,
    .footer-contain p {
        font-size: 14px;
    }



    .second-header .logo {
        margin-right: auto;
    }

    .second-header-bg-white .header-contact {
        flex-grow: inherit;
    }

    .background.fire_demo.contact .slide-2 {
        height: 450px;
    }

    .news-feed .slide-1,
    .news-feed .slide-2,
    .news-feed .slide-3 {
        height: 500px;
    }

    .slide-content {
        top: 50%;
    }

    .header-contact {
        flex-grow: 1;
    }

    .free-quatos .btn-outline,
    .second-header-bg-white .second-header ul li a {
        font-size: 13px;
    }



    .col-75 {
        margin-top: 50px;
        width: 72%;
    }

    .service .col-25 {
        width: 28%;
    }


    .other-service .col-33 {
        width: 75%;
    }

    .category .post1 p {
        line-height: 20px;
    }


    .other-service .col-33 {
        width: 100%;
    }

    .other-service .col-65 {
        width: 100%;
        margin-top: 40px;
    }

    .other-service {
        padding: 50px 0;
    }

    .slide-content-1 h1 {
        font-size: 40px;
    }

    .slide-content-1 p,
    .fist-slider p {
        font-size: 16px;
    }

    .footer h3 {
        font-size: 18px;
    }

    .footer a {
        line-height: 32px;
    }

    .contact_us .col-30 {
        width: 35%;
    }

    .contact_us .col-70 {
        width: 65%;
    }

    .second-header-bg-white .second-header ul li a {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {

    .bar-icon {
        opacity: 1;
        visibility: visible;
        position: relative;
        z-index: 850;
        display: block;
    }

    .second-header-list .dropdown-menu img {
        position: absolute;
        right: 22px;
        top: 22px;
    }

    .second-header .second-header-list {
        position: absolute;
        right: -150%;
        flex-direction: column;
        top: -65px;
        width: 100%;
        max-width: 350px;
        background-color: #fff;
        transition: all .5s;
        z-index: 800;
    }

    .second-header .second-header-list>li {
        border-bottom: 1px solid gray;
        margin: 0;
        padding: 15px 25px;
        width: 100%;
        position: relative;
        display: block;
    }

    .second-header-list .dropdown-menu .menu-item {
        width: 88%;
        top: 48px;
        box-shadow: none;
        position: fixed;
        max-width: 350px;
        margin-top: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        display: none;
        z-index: 900;
        height: 100%;
        transition: all 1s;
    }

    .second-header-list .dropdown-menu .menu-item.view-data
    {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .pos-abs-mobile,
    .second-header-bg-white.sticky .header-contact {
        display: block;
    }

    .second-header-list .dropdown-menu .menu-item li a {
        line-height: 22px;
        width: 100%;
    }

    .second-header-list .dropdown-menu .menu-item li {
        padding: 10px 10px;
        border-bottom: 1px solid #000;
        margin: 0;
    }

    .second-header-list li.none {
        display: block;
        background-color: #8cc63f;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .second-header-bg-white .second-header ul li a {
        font-size: 12px;
        color: #000;
        padding: 0;
    }

    .second-header-list.showing {
        right: -15px;
        height: 800px;
    }

    .dis-none,
    .second-header-bg-white .header-contact .call-768,
    .second-header-bg-white .header-contact .mail-768 {
        display: none;
    }

    .service .col-25,
    .col-75 {
        width: 100%;
        padding-left: 0;
    }

    .box-title .contain .view-service-box {
        margin-top: 5px;
    }

    .service .col-25 {
        text-align: center;
    }

    .slider-containt .bg-slider .bg-containt {
        margin: 0;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        padding-left: 0;
        width: 50%;
    }

    .post-Heading h2,
    .box-title .contain h2,
    .background.fire_demo.contact .slide-2 h1,
    .details-us h1,
    .contact-details-form h1 {
        font-size: 30px;
    }

    .about-us .col-65,
    .about-us .col-33,
    .il-row-order,
    .ip-section-post {
        width: 100%;
    }


    .footer-col-1 {
        padding-right: 20px;
    }

    .contact_us .col-30 {
        width: 40%;
    }

    .contact_us .col-70 {
        width: 59%;
    }

    .w25-Post .category,
    .il-row .col-33 {
        width: 48%;
    }

    .category:nth-child(1),
    .il-row-order {
        margin-bottom: 30px;
    }

    .il-row-order,
    #order-1 {
        order: -1;
    }
}

@media (max-width: 868px) {



    .header-contact li img {
        width: 15px;
        margin-right: 12px;
    }


    .slide-content h1,
    .fire_text h2,
    .box-title .contain h2 {
        font-size: 25px;
    }



    .box-title .contain p,
    .services-box p {
        padding: 0;
        text-align: justify;
    }

    .col-45 {
        width: 80%;
        margin-bottom: 25px;
    }

    .order-list h5 {
        font-size: 15px;
    }

    .category:nth-child(2) {
        margin: 0px;
    }

    .firesection {
        margin-bottom: 0;
    }

    .request-call-back-section {
        width: 100%;
        margin-bottom: 30px;
    }

    .all-post-section {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .w25-Post {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .w25-Post .category {
        width: 48%;
    }
}

@media (max-width: 768px) {


    .header-contact .call-768,
    .header-contact .mail-768 {
        display: block;
        margin-right: 15px;
    }

    .header-contact .call,
    .header-contact .mail {
        display: none;
    }

    .header-contact .call-768 img,
    .header-contact .mail-768 img {
        width: 25px;
    }

    .post-Heading div,
    .borderTop-bottom {
        flex-direction: column;
        align-items: first baseline;
    }

    p.social-icon-post {
        margin: 20px 0;
    }

    .col-65,
    .firesection .col-33,
    .contact_us .col-30,
    .contact_us .col-70 {
        width: 100%;
    }

    .fire_text {
        margin-top: 30px;
    }


    .slider-containt .bg-slider .bg-containt p {
        font-size: 13px;
    }

    .box-title .contain .view_service {
        padding: 15px 10px;
    }

    .client-section,
    .news-section {
        margin: 50px 0;
    }


    .col-33 {
        width: 48%;
    }

    .fooer-titgl {
        width: 45%;
    }

}

@media (max-width: 576px) {

    .slide-content-1 p,
    .pos-abs-mobile .list-item ul li {
        font-size: 14px;
    }

    .news-feed .slide-1,
    .news-feed .slide-2,
    .news-feed .slide-3 {
        height: 400px;
    }

    .second-header-bg-white.sticky .header-contact .call-768,
    .second-header-bg-white.sticky .header-contact .mail-768 {
        display: none;
    }

    .form-control {
        max-width: 100%;
        width: 100%;
        top: 45%;
        margin-bottom: 10px;
    }

    .post-Heading h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .col-33,
    .w25-Post .category,
    .col-50 {
        width: 100%;
    }

    .form-section {
        top: 75%;
        height: 90%;
    }

    #service {
        margin-top: 530px;
    }

    .w25-Post .category {
        margin-bottom: 30px;
    }

    .textarea textarea {
        margin-bottom: 12px;
        padding: 15px 25px;
    }

    .box-title .contain h2,
    .client-title h2,
    .services-box h6 {
        font-size: 20px;
        margin: 1px 0;
    }

    .slide-content h1,
    .details-us h1,
    .contact-details-form h1 {
        font-size: 25px;
    }

    .services-box,
    .box-service-container .contain {
        flex-direction: column;
        text-align: center;
    }

    .special-service {
        margin: 15px auto;
    }

    .fist-slider p:nth-child(1)::before {
        font-size: 80px;
        top: 5px;
    }

    .col-45,
    .cloumf-flex,
    .il-row .col-33,
    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        width: 100%;
    }

    .slide-content-1 h1 {
        font-size: 35px;
    }

    .visa-section {
        flex-direction: column;
        gap: 15px;
    }

}

@media (max-width: 479px) {

    .header-contact .call-768 img,
    .header-contact .mail-768 img {
        width: 20px;
    }

    .slide-content-1 h1 {
        font-size: 33px;
    }

    .slide-content-1 p {
        font-size: 12px;
    }

    .content-title {
        padding-right: 10px;
    }

    .container-slider {
        top: 7%;
    }

    .background .owl-nav {
        top: 40%;
    }

    .form-control input {
        padding: 12px 25px;
    }

    .bg-containt .read-more {
        font-size: 14px;
    }

    .all-post-section .bg-containt p,
    .all-post-section .bg-containt span,
    .slider-containt .bg-slider .bg-containt p {
        font-size: 14px;
    }

    .postByrohan .post-corr p:nth-child(odd) {
        padding: 15px 15px;
    }

    .center {
        justify-content: none;
    }

    .fist-slider {
        padding: 25px 0;
    }

    .box-title .contain .view_service,
    .new-read-box .read-more-text {
        padding: 15 px 15px;
    }

    .services-box h6 {
        font-size: 20px;
    }

    .slide-content-1 p {
        letter-spacing: 1px;
        margin: 5px 0;
        line-height: 25px;
    }

    .form-button {
        margin: 20px 0;
    }
}

@media (max-width: 380px) {

    .box-bg-white h3,
    .services-box h6 {
        font-size: 20px;
    }

    .container-slider {
        top: 5%;
    }

    .footer h3 {
        font-size: 18px;
    }

    .footer ul li,
    .free-quatos .btn-outline {
        font-size: 12px;
    }
}