@media (max-width: 1299px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .social-icon,
    .navbar-brad {
        padding: 0 10px 0;
    }

    .header .navbar-brad {
        margin-right: 0;
    }

    header .automation p,
    header .social-icon p,
    header .ul-item .list-item .link,
    .about_us .content p {
        font-size: 13px;
    }

    header .ul-item .list-item {
        margin: 0 10px;
    }

    .second-header .ul-active li {
        font-size: 10px;
        margin: 0 8px;
    }

    .col-30 {
        width: 45%;
    }

    .footer .col-20 {
        width: 30%;
    }
    .ul-active .dropdown-list .dropdown-item{
        top: 34px;
    }
}

@media (max-width: 1199px) {
    .text-area textarea {
        width: 80%;
    }

}

@media (max-width: 999px) {
    .menu-bar {
        display: block;
    }

    .header .navbar-brad{
        flex-grow: 1;
    }

    .header .navbar-brad img{
        max-width: 150px;
    }

    .fixture-section .box h1 {
        font-size: 50px;
    }

    .text-area textarea {
        width: 545px;
    }

    /* top header bar */
    nav .ul-item,
    .automation {
        display: block;
        position: fixed;
        left: 0;
        background-color: #f2141d;
        top: 130px;
        z-index: -2;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;
    }

    header .ul-item .list-item .link,
    header .automation p {
        color: #fff;
    }

    .automation {
        top: 230px;
        visibility: hidden;
        opacity: 0;
    }

    nav .ul-item.show {
        top: 80px;
        opacity: 1;
        visibility: visible;
        z-index: 1;

    }

    .automation.show {
        top: 190px;
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }


    /* ul bar active */
    .second-header {
        position: relative;
    }

    .second-header .ul-active {
        position: fixed;
        top: 240px;
        display: block;
        background-color: #f2141d;
        width: 100%;
        left: 0;
        text-align: center;
        transition: all 0.6s;
        opacity: 0;
        z-index: -1;
    }

    .second-header .ul-active li {
        margin: 12px 0;
    }

    .second-header .ul-active.show {
        top: 250px;
        z-index: 1;
        opacity: 1;
    }

    .our_service .img-box p {
        width: 300px;
        padding: 0 40px;
    }

    .col-50 {
        width: 100%;
    }

    .footer .col-20 {
        width: 50%;
    }

    .footer-title {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .fixture-section .box h1 {
        font-size: 35px;
        line-height: 60px;
    }

    .col-30 {
        width: 100%;
    }

    .col-20 {
        width: 50%;
    }
}

@media (max-width: 655px) {


    .form {
        padding: 0;
    }

    .footer .col-20 {
        width: 100%;
    }

    .py-6 {
        padding-top: 0px;
    }

    .service .title h2::after,
    .about_us .title h2::after,
    .customer_section .title h2::after,
    .title-form h2::after,
    .footer h2::after {
        left: 45%;
    }

    .about_us .title h2::after,
    .title-form h2::after,
    .footer h2::after {
        left: 0;
    }

    .pos-abs{
        width: 150px;
        padding: 20px;
    }
}

@media (max-width: 575px) {
    html {
        font-size: 15px;
    }

    header .navbar-brad {
        width: 150px;
    }

    .fixture-section .box h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .text-area textarea {
        width: 260px;
    }

    .fixture-section {
        height: 300px;
    }

    .col-20 {
        width: 50%;
    }

    .col-20 .img-box img {
        width: 150px;
    }

    .service .title h2::after,
    .about_us .title h2::after,
    .customer_section .title h2::after,
    .title-form h2::after,
    .footer h2::after {
        left: 47%;
        width: 50px;
    }

    .about_us .title h2::after,
    .title-form h2::after,
    .footer h2::after {
        left: 0;
    }

    .service .title h2,
    .about_us .title h2,
    .customer_section .title h2,
    .title-form h2 {
        font-size: 22px;
        line-height: 50px;
    }

    .about_us .content {
        padding: 0px 65px 50px 0;
    }
}

@media (max-width: 380px) {

    .none {
        display: none !important;
    }

    table tr td p,
    table tr td a{
        font-size: 12px;
    }

    .block {
        display: block;
    }

    .fixture-section .box h1 {
        font-size: 15px;
        line-height: 33px;
    }

    .our_service .img-box p {
        width: 270px;
        font-size: 13px;
    }

    .crrot-right {
        font-size: 10px;
    }

    .fixture-section {
        height: 200px;
    }

    .col-20 {
        width: 100%;
    }

    .col-20 .img-box img {
        width: 125px;
    }

    .col-20 .img-box {
        margin: 0 !important;
    }

    .footer .navbar-brad img {
        width: 100%;
    }

    
}