/* .fixed-nav{
    position: fixed;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    z-index: 55;
    background-color: rgba(0, 0, 0, 0.767);
}

.fixed-nav .list-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fixed-nav .list-menu a{
    display: block;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin: 10px;
}
.fixed-nav .list-menu a:hover{
    color: brown;
}

.icon-close{
    position: relative;
}

.icon-close i{
    position: absolute;
    color: rgb(229, 213, 213);
    left: 700px;
    top: 60px;
    
}

.icon-close i:hover{
    color: brown;
}


.none{
    display: none;
}

.block{
    display: block;
}
 */

 
.remove{ 
    z-index: -100 !important ; 
    opacity: 0;

} 
.block{
    display: block !important;
}
.none{
    display: none;
}
.navemobile{
    position: fixed;
    display: grid;
    place-items: center;
    /* padding: 90px; */
    padding-top: 32px;
    height: 100vh;
    z-index: 55;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.735);

}

.casll1{ 
    width: 100%; 
    z-index: 1000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.navemobile a{
    /* display: block; */
    text-decoration: none;     
    color: #fff; 
    display: block; 
    text-align: center; 
    padding: 5px 0; 
    font-weight: 900; 
    font-size: 20px;
}
.navemobile a:hover{
    color: brown;
}
.icon11{ 
    margin-left: 74%; 
    
}
